body{
    background-image:linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
}
.grid{
    display:flex;
    flex-wrap:wrap;
    height:300px;
    width:400px;
    margin-top:50px;
}